:root {
    --iris: #4d5ae5;
    --navyblue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
}

body {
    font-family: "Roboto",sans-serif;
    color: var(--slate);
    background-color: var(--white);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/*!---------------- HEADER -------------*/

.page-header {
}

.header-navigation {
}

.header-logo {
color: var(--iris, #4D5AE5);
font-size: 18px;
font-family: "Raleway", sans-serif;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase
}

.header-logo-accent {
    color: var(--navyblue, #2E2F42);
}

.header-link-list {
}

.header-link-item {
}

.header-link {
color: var(--navyblue, #2E2F42);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
color: var(--ocean);
}

.header-address {
    font-style: normal
}

.header-address-list {
}

.header-address-item {
}

.header-address-link {
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean);
}

/*!---------------- HERO ----------------*/

.hero {
    background-color: var(--navyblue, #2E2F42);
}
.hero-title {
color: var(--white, #FFF);
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}
.hero-btn {
background-color: var(--iris);
color: var(--white, #FFF);
font-size: 16px;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
}

/*!---------------- ADVANTAGES ----------------*/

.advantages {
}

.visually-hidden {
}

.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.advantages-item-text {
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*!----------------- DOING -------------*/

.doing {
}

.duing-title {
color: var(--navyblue, #2E2F42);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
}
.doing-list {
}

.doing-item {
}

.doing-img {
}

/*!-------------- TEAM ---------------*/

.team {
    background-color: var(--cloud, #F4F4FD);;
}

.team-title {
color: var(--navyblue, #2E2F42);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center
}

.team-list {
}

.team-item {
    background-color: var(--white, #FFF);;
}

.team-img {
}

.team-subtitle {
color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.team-text {
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*!------------------ FOOTER -------------*/

.page-footer {
    background-color: var(--navyblue, #2E2F42);;
}

.footer-logo {
color: var(--iris, #4D5AE5);
font-size: 18px;
font-family: 'Raleway',sans-serif;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-logo-accent {
    color: var(--cloud);
}

.footer-text {
color: var(--cloud, #F4F4FD);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/**------------- PORTFOLIO -------------*/
/* Класи хедер і футер перевикористав з index.html*/
/*!------------ MAIN-HERO -----------*/

.portfolio {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-btn {
background-color: var(--cloud);
color: var(--iris);
font-size: 16px;
font-family: "Roboto", sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--ocean);
    color: var(--white);
}

.project-list {
}

.project-item {
}

.project-link {
}

.project-subtitle {
color: var(--navyblue, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.project-text {
color: var(--slate, #434455);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}



